<!DOCTYPE html>
<html>

<head>
  <style>
    .text {
      color: green;
      text-align: center;
    }

  </style>
</head>

<body>
  <div class="text">
    <h1 class="text">Hi <%= data.text %>
    </h1>
  </div>
</body>

</html>
